/* Reset des marges et des paddings par défaut */
body, h1, h2, p, nav {
    margin: 0;
    padding: 0;
}

/* Style du corps de la page */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Style de l'en-tête */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

/* Style du titre de l'en-tête */
header h1 {
    margin-bottom: 10px;
}

/* Style de la barre de navigation */
nav {
    margin-top: 10px;
}

/* Style des liens dans la barre de navigation */
nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 5px;
    background-color: #555;
}

/* Changement de style au survol des liens */
nav a:hover {
    background-color: #777;
}

/* Style du pied de page */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
